<!DOCTYPE html>
<html ng-app='nymexCapitalApp'>
<head>
  <link rel="stylesheet" href="./index.css">
  <link rel="stylesheet" href="./home/home.css">
  <link rel="stylesheet" href="./firm/firm.css">
  <script src='./lib/jquery/dist/jquery.js'></script>
  <script src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js'></script>
  <script src='./lib/angular/angular.min.js'></script>
  <script src='./lib/angular-ui-router/release/angular-ui-router.min.js'></script>
  <script src='index.js'></script>
</head>
<body ng-controller='nymexController'>

  <nav class='header'>
    <div id='outerHeaderDiv'>
      <div id='innerHeaderDiv'>
        <a class= 'item' ui-sref="home"><img src="assets/nymexLogo.png"></a> 
        <a class= 'item' ui-sref="firm" ng-show='obj.eng' >Our Firm</a> 
        <a class= 'item' ui-sref="firm" ng-show='!obj.eng'>Nuestra Empresa</a> 

        <a class= 'item' ng-show='obj.eng'>Our Team</a> 
        <a class= 'item' ng-show='!obj.eng'>Nuestro equipo</a> 

        <a class= 'item' ng-show='obj.eng' >Our Practice</a>
        <a class= 'item' ng-show='!obj.eng'>Nuestra Práctica</a>

        <a class= 'item' ng-click='slide()'  ng-show='obj.eng'>Contact</a>
        <a class= 'item' ng-click='slide()' ng-show='!obj.eng'>Contacto</a>

        <a class= 'enES' ng-show='obj.eng' ng-click='switchToSpanish()'><img src="assets/EN.jpg"></a>
        <a class= 'enES' ng-show='!obj.eng' ng-click='switchToEnglish()'><img src="assets/ES.jpg"></a>
      </div>
    </div>
  </nav>
    
 
  <div align='middle' id='contact'></div>
    
  
  <div ui-view class='pageContent' autoscroll="false"></div>
  <div class='footer'>
  </div>
</body>
</html>