#backgroundNY {
  background-image: url("./NY.jpg");
  width : 100%;
  color: white;
  background-repeat:no-repeat;
  background-size:cover;
  height: 100%;
}
#backgroundMX {
  background-image: url("./MX.jpg");
  width : 100%;
  color: white;
  background-repeat:no-repeat;
  background-size:cover;
  height: 100%;
}
.text {
  margin-top: 250px;
  margin-bottom: 140px;
  margin-left: 100px;
  margin-right: 25%;
  font-size: 36px;
  font-family: 'Berthold Akzidenz Grotesk BE';
}

.title {
  font-family: 'Adobe Garamond Pro Semibold';
  font-size: 60px;
}





