.firmHeader{
  background-image: url("./our-firm_header.jpg");
  width : 100%;
  color: white;
  background-repeat:no-repeat;
  background-size:cover;
  height: 200px;
}

.firmBody {
  background-image: url("./our_firm_body.jpg");
  width : 100%;
  color: white;
  background-repeat:no-repeat;
  background-size:cover;
  height: 1052px;
}

.firmHeaderES{
  background-image: url("./nuestra-firma.jpg");
  width : 100%;
  color: white;
  background-repeat:no-repeat;
  background-size:cover;
  height: 200px;
}

.firmBodyES {
  background-image: url("./spanish_firm.jpg");
  width : 100%;
  color: white;
  background-repeat:no-repeat;
  background-size:cover;
  height: 1052px;
}

